Pick a Category:
<select [(ngModel)]="categoryId" (change)="getDataFromService()">
    <option *ngFor="let category of categories" [value]="category.id">{{category?.title}}</option>
</select>
<br>
<div *ngIf="categoryId">
    Question: {{questionInfo?.question}} 
    <br>
    Point Value: {{questionInfo?.value}}
    <br>
    Category: {{questionInfo?.category.title}}
    <br>
    Score: {{guesser.score}}
    <br>
    <app-guess #guesser (answerScored)="getDataFromService()" [questionInfo]="questionInfo"></app-guess>
</div>






